$identifiers: ("active" "cart" "check" "close" "collapse" "download" "expand" "facebook" "info" "next" "pause" "play" "previous" "required" "scroll" "search" "twitter" "video" );
$characters: ("\EA01" "\EA02" "\EA03" "\EA04" "\EA05" "\EA06" "\EA07" "\EA08" "\EA09" "\EA0A" "\EA0B" "\EA0C" "\EA0D" "\EA0E" "\EA0F" "\EA10" "\EA11" "\EA12" );

$tt-icons__active: "\EA01";
$tt-icons__cart: "\EA02";
$tt-icons__check: "\EA03";
$tt-icons__close: "\EA04";
$tt-icons__collapse: "\EA05";
$tt-icons__download: "\EA06";
$tt-icons__expand: "\EA07";
$tt-icons__facebook: "\EA08";
$tt-icons__info: "\EA09";
$tt-icons__next: "\EA0A";
$tt-icons__pause: "\EA0B";
$tt-icons__play: "\EA0C";
$tt-icons__previous: "\EA0D";
$tt-icons__required: "\EA0E";
$tt-icons__scroll: "\EA0F";
$tt-icons__search: "\EA10";
$tt-icons__twitter: "\EA11";
$tt-icons__video: "\EA12";
